/*font-family: 'Poppins', sans-serif; 'Noto Serif', serif;*/

html{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #8B0000;
  font-size: 90px;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #5B2C6F;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

h4{
  font-family: "Noto Serif", serif;
  font-size: 20px;
}

p{
  font-size: 18px;
  font-family: "Noto Serif", serif;
  color: #000000;
}

body {
  background-color: #FFDAB9;
  max-width: 500px;
}

a{
  color: #8B0000;
}

/*nav bar*/
nav {
  background-color: #FFFFFF;
  font-size: 14px;
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #FFDAB9;
  border-top: 1px solid #FFDAB9;
  width: 100%;
  max-width: 1000px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul li {
  font-family: "Noto Serif", serif;
  font-size: 14px;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ol li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #5B2C6F;
}

.active {
  background-color: #CBC3E3;
  color: #000;
  padding: 0.025rem;
}

nav a {
  color: #5B2C6F;
}

a {
  text-decoration: none;
}
/*end nav*/

img {
  align-items: center;
  width: 300px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

Footer{
  background-color: #FFA07A;
  font-family: "Noto Serif", serif;
}

figcaption {
  font-family: "Noto Serif", serif;
  font-size: 14px;
}

/*mobile default*/
.media-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.image-holder .text-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.location-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.location-holder, .text-holder { /*for location list*/
  width: 100%;
}

/*figure and .gallery-image styles*/
.gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  width: 100%;
  max-width: 700px;
}

.gallery-image img{
  width: 100%;
}

/*skip link styles*/
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

/*photo gallery styles*/
.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hideThis {
  display: none;
}

button {
  background-color: #CBC3E3;
  border: none;
  color: #5B2C6F;
  text-align: center;
  font-family: "Noto Serif", serif;
  display: block;
  cursor: pointer;
  width: 100px;
  border-radius: 3px;
  padding: 1rem;
}

/*media 555px wide*/
@media (min-width: 555px){
  .media-holder {
    flex-direction: row;
  }
  .image-holder {
    flex-direction: row;
    margin: 4rem 0;
    width: 25%;
  }

}
/*media 800px*/
@media (min-width: 800px){
    .image-holder {
      flex-direction: row;
      width: 50%;
    }
    .text-holder {
      width: 50%;
  }

}
