/*font-family: 'Poppins', sans-serif; 'Noto Serif', serif;*/

html{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FF4500;
  font-size: 90px;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

h4{
  font-family: "Noto Serif", serif;
  font-size: 20px;
}

p{
  font-size: 18px;
  font-family: "Noto Serif", serif;
  color: #000000;
}

ol li {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
}

body {
  background-color: #FFDAB9;
  max-width: 500px;
}

a{
  color: 	#8B0000;
}

img {
  align-items: center;
  width: 300px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

nav{
  background-color: #FFA07A;
  font-size: 16px;
}

Footer{
  background-color: #FF4500;
  font-family: "Noto Serif", serif;
}

/*mobile default*/
.media-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.image-holder .text-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.location-holder {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.location-holder, .text-holder { /*for location list*/
  width: 100%;
}

/*figure and .gallery-image styles*/
.gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  width: 100%;
  max-width: 700px;
}

.gallery-image img{
  width: 100%;
}

/*media 555px wide*/
@media (min-width: 555px){
  .media-holder {
    flex-direction: row;
  }
  .image-holder {
    flex-direction: row;
    margin: 4rem 0;
    width: 25%;
  }
}
/*media 800px*/
@media (min-width: 800px){
    .image-holder {
      flex-direction: row;
      width: 50%;
    }
    .text-holder {
      width: 50%;
    }
  }

.active {
  background-color: #FF4500;
  color: #000;
  padding: 0.025rem;
}
